		/* default styles */
		body {
			margin: 0;
			padding: 0;
			font-family: Arial, sans-serif;
			font-size: 16px;
		}
		h1 {
			font-size: 19.2px;
			margin: 20px;
			text-align: center;
		}
		.section {
			
			padding: 20px;
			color: white;
			font-size: 16px;
			background-color: gray;
			margin: 10px;
			border: 2px solid black;
			position: relative;
			
		}
		
		  
		  .section-title1 , .section-title2 , .section-title3 {
			position: absolute;
			top: 0;
			right: 0;
			margin: 0;
			border: 2px solid black;
			padding-left: 20px;
			padding-right: 20px;
			font-size: 20px;

			
		  }
		  .section-title1 {
			background-color: #b77f94; 
			color: black;
		  }
		  
		  
		  .section-title2 {
			background-color: #21cea9; 
			color: beige;
		  }
		  
		  .section-title3 {
			background-color:brown;
			color: black;
		  }
		
		

		/* desktop styles */
		@media screen and (min-width: 992px) {
			.section-container {
				display: flex;
				
			}


		}

		/* tablet styles */
		@media screen and (min-width: 768px) and (max-width: 991px) {

			.section:nth-child(1), .section:nth-child(2) {
				width: 40%;
				float: right;
			}
			.section:nth-child(3) {
				clear: both;
				width: 100%;
			}

		}

		/* mobile styles */
		@media screen and (max-width: 767px) {
			.section {
				width: 100%;
			}

		}